extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Aung May Oo

        p Full Stack Developer


        .about-bio

          p Having completed the Application Development - Java Intensive - Infosys training through Woz-U and receiving the certificate of completion. This program focused mainly on Java, Java frameworks such as Spring-boot, Database Cloud, Web Development and Computer Science Fundamentals. 
          p In addition, I completed the Junior Full Stack Java Developer training course with Generation USA, which provided me with proficiency in Full Stack Web Development technologies, a developer's mindset, and personal behavioral skills. Ability to demonstrate JavaScript Web development for back-end and front-end applications. 

          p Strong problem-solving and critical thinking skills across a broad range of work areas. Coordinates ground-up planning, software development, and implementation of core modules. Passionate about evolving into a professional software engineer, I'm eager to apply my knowledge and skills to contribute to the cutting-edge technologies in the software industry.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Java
          li React 
          li Angular 
          li Spring-Boot 
          li Node.js
          li Express
          li Pug
          li Fetch and Public APIs
          li Git and GitHub 
          li SQL Server, MySQL 
          li Proficient in Google Slides, Docs, Sheets, and PowerPoint 

        h6 Contact Info

        ul
          li lurikhua@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/aung-oo-1865501a9/') LinkedIn
        a.btn-link(href='https://github.com/aungticia?tab=repositories') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back